@import url(https://fonts.googleapis.com/css?family=Lato:300);

/* html {
  background: radial-gradient(#000, #111);
  height: 100%;
} */
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: black;
}

#game-board {
  /* margin-top: 20px; */
  background-color: #ccc;
  width: 100vmin;
  height: 100vmin;
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
}

.snake {
  background-color: hsl(200, 100%, 50%);
  border: 0.25vmin solid black;
}

.food {
  background-color: hsl(50, 100%, 50%);
  border: 0.25vmin solid black;
}

#seconds,
#tens,
#divider {
  font-size: 2.2rem;
  margin-left: 10px;
}

#timeDisplay {
  font-size: 25px;
  color: lawngreen;
}

#timeContainer {
  width: fit-content;
  padding: 0px;
  text-align: center;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.keys {
  font-family: "Lato", sans-serif;
  text-align: center;
  width: 50vmin;
  height: 30vmin;
  /* margin: auto; */
}

.arr {
  cursor: pointer;
  width: 30px;
  height: 30px;
  text-align: center;
  /* line-height: 50px; */
  background: grey;
  color: white;
  font-size: 15px;
  border-right: 10px solid darken(grey, 20);
  border-bottom: 10px solid darken(grey, 20);
  border-left: 10px solid darken(grey, 15);
  border-top: 10px solid darken(grey, 10);
  display: inline-block;
  margin: 5px;
  transition: all 0.05s linear;
  &:active {
    border-bottom: 8px solid darken(grey, 20);
    text-shadow: 0 0 10px white, 0 0 10px white, 0 0 20px white;
    transform: translate(0, 2px);
  }
  user-select: none;
}

.up {
  position: relative;
  top: -4px;
}

.pressed {
  border-bottom: 8px solid darken(grey, 20);
  text-shadow: 0 0 10px white;
  transform: translate(0, 2px);
}

.names {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  text-align: center;
  color: white;
  text-shadow: 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white;
}

.b {
  color: blue;
  text-shadow: 0 0 10px blue, 0 0 10px blue, 0 0 10px blue, 0 0 10px blue;
  font-size: 100px;
  font-family: serif;
}

.a {
  color: yellow;
  text-shadow: 0 0 10px yellow, 0 0 10px yellow, 0 0 10px yellow,
    0 0 10px yellow;
  font-size: 100px;
  font-family: serif;
}

.moveDiv{
  height: 50px;
  width: 50px;
  background-color: yellowgreen;
}